In [3]:
import pandas as pd
import cx_Oracle
from tqdm import tqdm
import os
import requests
def crypt(data, t_crypt="ec",max_data=50000):
    headers = {"Content-Type": "application/json"}
    type_crypt = { "dc": "http://192.168.45.45:8779/dc",
                  "ec": "http://192.168.45.45:8779/ec",
                 "dcs": "http://192.168.45.45:8779/dcs",
                 "ecs": "http://192.168.45.45:8779/ens"}
    if t_crypt not in ["ec","dc"]:
        print("nhap sai t_crypt !")
    elif type(data)==str :
        return requests.post(type_crypt[t_crypt], data=data).text
    elif type(data)==list : 
        t_crypt = t_crypt+"s"
        sublist_data=[data[x:x+max_data] for x in range(0, len(data), max_data)]
        res=[]
        for sublist in sublist_data:
            data_request =  {"lisd": sublist}
            request_res = requests.post(type_crypt[t_crypt], json=data_request, headers=headers).json()
            res += request_res
        return res
    else:
        print("nhap sai dang du lieu data !")

conn = cx_Oracle.connect(user='score', password='Vmg102021', dsn='192.168.18.32:1521/score')

In [4]:
mob = ['566618888','963205888','966429999','963628618','971492393','966685555']
mob_enc = crypt(mob,'ec')

In [15]:
mob_df = pd.DataFrame({'mob':mob,'mob_enc':mob_enc})
mob_df.to_excel('mob.xlsx', index=None)

In [12]:
conn = cx_Oracle.connect(user='score', password='Vmg102021', dsn='192.168.18.32:1521/score')

query = 'select * from raw_viettel_data_2021 where msisdn in {}'.format(tuple(mob_enc))

tttb = pd.read_sql(query, conn)

tttb = tttb.sort_values(by=['UPDATE_DATE'], ascending=False).drop_duplicates(subset=['MSISDN'])

In [20]:
tttb['MSISDN_dec'] = crypt(tttb['MSISDN'].tolist(),'dc')

In [21]:
tttb.to_excel('tttb.xlsx')

In [25]:
tttb.ID_NO.dropna().tolist()

['WYigM0jJaZ7I+EKWYNtjLg==',
 '9oe2Ddp0zwFXZu60BfeXNg==',
 'VPD81ijcVDP8XgA+p0stuA==',
 'Ynacky2Tvvm0X7n1nVz0og==',
 '2MBqlByn3nkzQlGM0coSgQ==']

In [28]:
query = 'select * from s_income_new_2019_new where cmnd_encrypt in {}'.format(tuple(tttb.ID_NO.dropna().tolist()))
tax = pd.read_sql(query, conn)
tax = tax[tax.NAM == 2022]

In [30]:
tax['CMND_dec'] = crypt(tax['CMND_ENCRYPT'].tolist(), 'dc')

In [31]:
tax.to_excel('tax.xlsx')

In [33]:
a = pd.read_excel('rel_very_new.xlsx', index_col=0)

In [38]:
result = pd.DataFrame()
b = a.groupby(['CALLING','CALLED'])['DURATION'].count().reset_index()
unique_mob = b.CALLING.unique().tolist()
top3_freq_mob = pd.DataFrame()
for i in unique_mob:
    temp = b[b.CALLING == i].copy()
    temp = temp.sort_values(by=['DURATION'], ascending=False)
    temp = temp.iloc[:3,:].reset_index(drop=True)
    result = pd.concat([result, temp], ignore_index=True)

In [40]:
result['CALLING'] = crypt(result.CALLING.tolist(), 'dc')
result['CALLED'] = crypt(result.CALLED.tolist(), 'dc')

In [45]:
c1 = a. groupby(['CALLING','VILLAGE_NAME'])['DURATION'].count().reset_index().sort_values(by='DURATION', ascending=False).drop_duplicates(subset=['CALLING'])
c2 = a. groupby(['CALLING','DISTRICT_NAME'])['DURATION'].count().reset_index().sort_values(by='DURATION', ascending=False).drop_duplicates(subset=['CALLING'])
c3 = a. groupby(['CALLING','PROVINCE_NAME'])['DURATION'].count().reset_index().sort_values(by='DURATION', ascending=False).drop_duplicates(subset=['CALLING'])

In [49]:
re = c1.merge(c2, 'left', on='CALLING')
re = re.merge(c3, 'left', on='CALLING')

In [51]:
re.drop(columns=['DURATION_x','DURATION_y','DURATION'], inplace=True)

In [52]:
result.to_excel('frequent_call.xlsx')
re.to_excel('location.xlsx')

In [11]:
crypt(['43REyw2Y+bWABrOJxB4ERA=='],'dc')

['0']

In [6]:
query = 'select * from mapping_bill_postpaid_202204 where rownum <= 1000'
viettel_postpaid = pd.read_sql(query, conn)
viettel_postpaid['SO_DIEN_THOAI'] = crypt(viettel_postpaid['SO_DIEN_THOAI'].tolist(),'dc')
viettel_postpaid

,SO_DIEN_THOAI,QUAN_HUYEN,TINH_THANH_PHO,GIOI_TINH,NGAY_SINH,TONG_TIEN,TIEN_CAM_KET_VA_VAS,DONG_MAY,TIEN_CUOC_GOI,TIEN_CUOC_TIN_NHAN,SO_GIAY_GOI,SO_TIN_NHAN,KICH_HOAT
0,369556161,Quỳnh Lưu,Nghệ An,M,None,196163,27273,SM-G570Y Galaxy J5 Prime DUOS,157250,11640,7310,55,20220402
1,938363410,Quang Bình,Hà Giang,F,None,239346,40377,SM-G610F Galaxy J7 Prime DUOS,184200,14769,8564,67,20220101
2,978420981,Ngô Quyền,Hải Phòng,M,None,19632,2729,SIM868,15738,1165,732,2,20220221
3,869561761,Thạch Thất,Hà Nội,F,None,228911,38618,105 (2017) Dual SIM (TA-1034),176170,14123,8196,64,20180727
4,961849199,Q.12,TPHCM,M,1995/01/01,916775,184597,iPhone 7 Plus (A1784),614046,118132,28564,565,20220126
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,326070222,Hà Đông,Hà Nội,M,None,61986,8618,M26,49694,3674,2313,15,20211202
996,865411405,Phù Yên,Sơn La,M,1961/09/02,418147,70542,iPhone 6 (A1586),321810,25795,14970,126,20170428
997,972425609,Bù Đốp,Bình Phước,M,None,992774,234699,Y11 (1906),624568,133507,29054,633,20211213
998,979379304,Q.12,TPHCM,F,None,381739,64400,Galaxy M20 DUOS (SM-M205G),293790,23549,13667,116,20191022
999,394136214,Thanh Xuân,Hà Nội,M,None,19617,2727,None,15725,1165,732,2,20200510

In [7]:
query = 'select * from mapping_bill_prepaid_202204 where rownum <= 1000'
viettel_prepaid = pd.read_sql(query, conn)
viettel_prepaid['SO_DIEN_THOAI'] = crypt(viettel_prepaid['SO_DIEN_THOAI'].tolist(),'dc')
viettel_prepaid

,SO_DIEN_THOAI,QUAN_HUYEN,TINH_THANH_PHO,GIOI_TINH,NGAY_SINH,TONG_TIEN,TIEN_CAM_KET_VA_VAS,DONG_MAY,TIEN_CUOC_GOI,TIEN_CUOC_TIN_NHAN,SO_GIAY_GOI,SO_TIN_NHAN,KICH_HOAT
0,975666536,Đất Đỏ,Bà Rịa Vũng Tàu,None,1983,110999,75463,2690,24764,10772,1092,53,20110212
1,374768885,Hưng Hà,Thái Bình,None,None,522595,165620,1280,336154,20821,14697,94,20131217
2,986061640,Quỳ Hợp,Nghệ An,None,None,75780,7406,A1601 F1S SELFIE EXPERT,67353,1021,2967,3,20211122
3,369593627,Lương Tài,Bắc Ninh,None,None,27675,11074,216 DUAL SIM (RM-1187),15075,1526,666,6,20211128
4,363089997,Phổ Yên,Thái Nguyên,None,None,193382,80937,A37F,102618,9827,4527,49,20211217
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,383651709,Việt Yên,Bắc Giang,None,None,83538,14414,IPHONE 6 (A1549),67136,1988,2967,7,20220401
996,356123265,Long Xuyên,An Giang,None,None,9559,7794,V7+ (1716),718,1047,29,3,20150207
997,962086189,Từ Sơn,Bắc Ninh,None,None,95228,74444,IPHONE 6 (A1586),12225,8559,541,42,20171003
998,984819010,Lâm Hà,Lâm Đồng,None,1980,264209,85383,A37F,168741,10085,7444,48,20220322
999,396805703,Mỹ Tú,Sóc Trăng,None,None,39893,16973,SM-G570Y GALAXY J5 PRIME DUOS,20336,2584,899,15,20090419

In [8]:
with pd.ExcelWriter('bill.xlsx') as writer:
    viettel_postpaid.to_excel(writer, sheet_name='postpaid')
    viettel_prepaid.to_excel(writer, sheet_name='prepaid')

In [10]:
query = 'select * from response_bhxh_log where rownum <= 1000'
bhxh = pd.read_sql(query, conn)
bhxh.to_excel('si.xlsx', index=None)